# We ignore any built .deb images
*.deb

# Some other building process require/create this
*.orig.tar.xz

# We directly fetch Lychee from release so We don't need it here
**/var/www/html/Lychee

.php-cs-fixer.cache
vendor/*